@{
    ViewBag.Title = "Home Page";
}
<div id="leftcolumn">
    <div id="LibraryImage">
        <center>
            <img id="Main_imgLibrary" class="image" src="@Url.Content("~/Content/Images/Libraries/Xylem.png")" style="height:75px;width:225px;">
        </center>
    </div>
    <div  style="display: block; ">
    <div id="Tabs" style="height:29px;">
        <input type="image"  id="Main_btntabTree" src="@Url.Content("~/Content/Images/btnTreePage.png")" style="height:30px;"/>
        <input type="image" id="Main_btntabFilter" class="marginminus" src="@Url.Content("~/Content/Images/btnFilterPage.png")" style="height:30px;"/>
        <input type="image" id="Main_btnChangeLibrary" class="marginminus" src="@Url.Content("~/Content/Images/btnChangeLibrary.png")" style="height:30px;"/>
    </div>
    <div style="margin-top: 1px">
		<div id="Main_pgTree" class="tree-page tab-page">
			
            <div id="Main_pnlTree" style="height:500px;width:235px;overflow:auto;">
				

			</div>
        
		</div><div id="Main_pgFilter" class="filter-page tab-page rmpHiddenView">
			
        <div id="divFilter" style="overflow:hidden; width:235px;">
            <div id="Main_pnlSelect">
				

			</div>
            
            <input type="text" id="Main_txtValue" class="TextInput" style="width:160px;">
            <input type="image" id="Main_btnAddFilter" class="TextInput" src="@Url.Content("~/content/images/btnAddFilter.png")" style="height:30px;">
            
            <div  class="RadListBox RadListBox_Default" style="border-width:0px;width:225px;">
			</div>
		</div>
	</div>
    
</div>
    </div>   
    </div>
<div id="maincolumn">

</div>     

